@font-face {
    font-family: "myfont";
    src: url("pricedown/pricedown bl.otf");
}

body {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/154beb65838927.5b0279a21ff61.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 93vh;
}

#heading {
    font-size: 1.8em;
    font-weight: 500;
    color: white;
    text-shadow: 3px 3px black;
    font-family: "myfont";
}

.game {
    background-color: rgb(119, 62, 16);
    padding: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-top: 2em;
    border-radius: 2em;
    font-weight: 800;
    color: aliceblue;
}

button {
    border-radius: 2em;
    padding: 1em 1.8em;
    margin-right: 1em;
    border: none;
    font-weight: 800;
}

button:hover {
    background-color: black;
    color: white;
}

.button1,
.button2 {
    display: flex;
    margin-top: 1em;
}

input {
    padding: 1em 2em;
    border-radius: 1em;
    border: none;
}